*.RData
*.rdb
*.rdx
*/debug.log
*/garbage.txt
.RData
.Rhistory
.Rproj.user/*
d03_dataviz/starwars.html
links.md
setup.html
u2*
u3*
xu*
*.svg
*.utf8.md
d13_goodviz/lecture-6.Rmd
d17_functions/d17_functions_alt.html
d17_functions/d17_functions_alt.Rmd
