*.RData
*.rdb
*.rdx
*/debug.log
*/garbage.txt
.RData
.Rhistory
.Rproj.user/*
d02_toolkit/libs/font-awesome/webfonts/fa-brands-400.svg
d02_toolkit/libs/font-awesome/webfonts/fa-regular-400.svg
d02_toolkit/libs/font-awesome/webfonts/fa-solid-900.svg
d03_dataviz/starwars.html
links.md
setup.html
u2*
u3*
d03_dataviz/libs/font-awesome/webfonts/fa-brands-400.svg
d03_dataviz/libs/font-awesome/webfonts/fa-regular-400.svg
d03_dataviz/libs/font-awesome/webfonts/fa-solid-900.svg
